<app-meni></app-meni>
<div class="center">
    <table>
        <tr>
            <td colspan="2" class="center1">
                <span *ngIf="slika != null">          
                    <td><img src="{{slika}}" width="120" height="120"></td>
                </span>
                <span *ngIf="slika==null">
                    <img src="assets/anoniman.png" width="100" height="100">
                </span>
                &nbsp; 
                <div class="dugmad">
                    <input type="file" id="dugmeZaSliku" style="display: none;" (change)="onFileChange($event)" accept=".jpg, .png, .jpeg" />
                    <label for="dugmeZaSliku" class="btn btn-success">
                        Učitaj novu sliku
                    </label> 
                    <input type="button" id="promeniSliku" style="display: none;" (click)="azurirajSliku()"/>
                    <label for="promeniSliku" class="btn btn-primary">
                        Promeni sliku
                    </label>
                </div>
            </td>
        </tr>  <br>  
        <span *ngIf="porukaSlikaGreska!=null" style="color: red;" [style.white-space]="'pre'">{{porukaSlikaGreska}}<br> </span> 
        <span *ngIf="porukaUspehSlika!=null" style="color: green;" [style.white-space]="'pre'">{{porukaUspehSlika}}</span>
        <tr>
            <td>Korisničko ime:</td>
            <td>
                <input type="text" name="korisnicko_ime" [(ngModel)]="korisnicko_ime">
            </td>
            &nbsp;
            <td>
                <button (click)="azurirajKorisnickoIme()" class="btn btn-primary ">Ažuriraj</button>
            </td>
        </tr>
        <tr>
            <td>Ime:</td>
            <td>
                <input type="text" name="ime" [(ngModel)]="ime">
            </td>
            &nbsp;
            <td>
                <button (click)="azurirajIme()" class="btn btn-primary ">Ažuriraj</button>
            </td>
        </tr>
        <tr>
            <td>Prezime:</td>
            <td>
                <input type="text" name="prezime" [(ngModel)]="prezime">
            </td>
            &nbsp;
            <td>
                <button (click)="azurirajPrezime()" class="btn btn-primary ">Ažuriraj</button>
            </td>
        </tr>
        <tr>
            <td>Mejl:</td>
            <td>
                <input type="text" name="mejl" [(ngModel)]="mejl">
            </td>
            &nbsp;
            <td>
                <button (click)="azurirajMejl()" class="btn btn-primary ">Ažuriraj</button>
            </td>
        </tr>
        <tr>
            <td>Broj telefona:</td>
            <td>
                <input type="number" name="telefon" [(ngModel)]="telefon">
            </td>
            &nbsp;
            <td>
                <button (click)="azurirajTelefon()" class="btn btn-primary ">Ažuriraj</button>
            </td>
        </tr>
        <tr *ngIf="organizator==true">
            <td>Naziv organizacije:</td>
            <td>
                <input type="text" name="org" [(ngModel)]="naziv_organizacije">
            </td>
            &nbsp;
            <td>
                <button (click)="azurirajOrg()" class="btn btn-primary ">Ažuriraj</button>
            </td>
        </tr>
        <tr *ngIf="organizator==true">
            <td>Država:</td>
            <td>
                <input type="text" name="drzava" [(ngModel)]="drzava">
            </td>
            &nbsp;
            <td>
                <button (click)="azurirajDrzavu()" class="btn btn-primary ">Ažuriraj</button>
            </td>
        </tr>
        <tr *ngIf="organizator==true">
            <td>Grad:</td>
            <td>
                <input type="text" name="grad" [(ngModel)]="grad">
            </td>
            &nbsp;
            <td>
                <button (click)="azurirajGrad()" class="btn btn-primary ">Ažuriraj</button>
            </td>
        </tr>
        <tr *ngIf="organizator==true">
            <td>Ulica:</td>
            <td>
                <input type="text" name="ulica" [(ngModel)]="ulica">
            </td>
            &nbsp;
            <td>
                <button (click)="azurirajUlicu()" class="btn btn-primary ">Ažuriraj</button>
            </td>
        </tr>
        <tr *ngIf="organizator==true">
            <td>Broj:</td>
            <td>
                <input type="number" name="broj" [(ngModel)]="broj">
            </td>
            &nbsp;
            <td>
                <button (click)="azurirajBroj()" class="btn btn-primary ">Ažuriraj</button>
            </td>
        </tr>
        <tr *ngIf="organizator==true">
            <td>Matični broj:</td>
            <td>
                <input type="number" name="maticni" [(ngModel)]="maticni_broj">
            </td>
            &nbsp;
            <td>
                <button (click)="azurirajMaticni()" class="btn btn-primary ">Ažuriraj</button>
            </td>
        </tr>
    </table>
    <span style="color: orangered;" [style.white-space]="'pre'">{{poruka}}</span>
    <span style="color: green;" [style.white-space]="'pre'">{{porukaUspeh}}</span>
    
</div>
<app-footer></app-footer>


