<app-meni></app-meni>
<div *ngIf="vecPostoji==false" class="center">
    <h2>Predloži novu radionicu</h2> <br>
    <table>
        <tr>
            <td>Naziv radionice:</td>
            <td>
                <input type="text" name="naziv" [(ngModel)]="naziv">
            </td>
        </tr>
        <tr>
            <td>Mesto održavanja:</td>
            <td>
                <input type="text" name="mesto" [(ngModel)]="mesto">
            </td>
        </tr>
        <tr>
            <td>Datum održavanja:</td>
            <td>
                <input type="date" name="datum" [(ngModel)]="datum">
            </td>
        </tr>
        <tr>
            <td>Broj mesta:</td>
            <td>
                <input type="number" name="mesta" [(ngModel)]="broj_mesta">
            </td>
        </tr>
        <tr>
            <td>Kratak opis:</td>
            <td>
                <input type="text" name="kratak" [(ngModel)]="kratak">
            </td>
        </tr>
        <tr>
            <td>Duži opis:</td>
            <td>
                <textarea name="duzi" cols="30" rows="2" [(ngModel)]="dug"></textarea>
            </td>
        </tr>

       <tr>
            <td colspan="2" class="center1">
                <input type="file" id="dugmeZaSliku" style="display: none;" (change)="onFileChange($event)" accept=".jpg, .png, .jpeg" />
                <label for="dugmeZaSliku" class="btn btn-info">
                    Unesite glavnu sliku 
                </label>
                <span *ngIf="slika != null">   
                    &nbsp;        
                    <td><img src="{{slika}}" width="100" height="100"></td>
                </span>
            </td>
        </tr> 

        <tr>
            <td colspan="2" class="center1">
                <input type="file" id="dugmeZaSlike" style="display: none;" (change)="onFileChangeMultiple($event)"  accept=".jpg, .png, .jpeg" multiple="multiple"/>
                <label for="dugmeZaSlike" class="btn btn-info">
                    Unesite sporedne slike 
                </label>
                <br>
                <div *ngFor="let slika1 of sporedneSlike; let i=index" style="display: inline-block;">
                    <img src="{{slika1}}" width="100" height="100"> <br>
                    <button class="btn btn-danger" (click)="izbaci(i)">Izbaci</button>
                </div>
            </td>
        </tr> 

        <tr>
            <td colspan="2" class="center1">
                <button  class="btn btn-success" (click)="posaljiPredlog()">Pošalji predlog na odobravanje</button>
            </td>     
        </tr> 
    </table>
    <span style="color: red;" [style.white-space]="'pre'">{{poruka}}</span>
    <span style="color: red;" [style.white-space]="'pre'">{{previseSlika}}</span>
</div>

<div *ngIf="vecPostoji==true" class="center">
    <h2>Moj predlog radionice</h2> <br>
    <table class="table-bordered stil">
        <tr>
            <td>Naziv radionice:</td>
            <td>
                {{radionica.naziv}}
            </td>
        </tr>
        <tr>
            <td>Mesto održavanja:</td>
            <td>
                {{radionica.mesto}}
            </td>
        </tr>
        <tr>
            <td>Datum održavanja:</td>
            <td>
                <span *ngIf="radionica.datum.getDate() < 10">0</span>{{radionica.datum.getDate()}} / 
                    <span *ngIf="radionica.datum.getMonth() < 9">0</span>{{radionica.datum.getMonth() + 1}} / 
                    {{radionica.datum.getFullYear()}}
            </td>
        </tr>
        <tr>
            <td>Broj mesta:</td>
            <td>
                {{radionica.preostalo_mesta}}
            </td>
        </tr>
        <tr>
            <td>Kratak opis:</td>
            <td [style.white-space]="'pre'">
                {{radionica.kratak_opis}}
            </td>
        </tr>
        <tr>
            <td>Duži opis:</td>
            <td [style.white-space]="'pre'">
                <div class="duziOpis">{{radionica.duzi_opis}}</div>
            </td>
        </tr>

       <tr>
            <td>Glavna slika</td>
            <td> <img src="{{radionica.glavna_slika}}" width="100" height="100"></td>
       </tr> 

       <tr>
            <td>Ostale slike</td>
            <td style="display: flex; flex-direction: row; justify-content: space-evenly;"> 
                <img *ngFor="let slika of radionica.slike" src="{{slika}}" width="100" height="100">
            </td>
       </tr> 
    </table>
    <br> <br>
    <h4>Zahtev za odobravanje radionice na čekanju</h4>
</div>

<app-footer></app-footer>


